<section id="main-container">
    <div class="container">
      <div class="row">
        <div class="col s10 push-s1">
          <div class="row">
            <div class="col m5 hide-on-small-only">
             <%= image_tag "logo.png", class: "logo" %>
            </div>
            <div class="col s12 m7">
              <div class="row">
                <div class="signup-box">
                  <h1 class="platzigram">Inicar Sesión</h1>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "signup-form" }) do |f| %>
                    <h2>Inicia sesión con el correo electrónico y contraseña, si te has olvidado comunícate con el administrador del sistema</h2>
                    <div class="section">
                      
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                      <%= f.input :email, required: false, autofocus: true %>
                      <%= f.input :password, required: false %>
                      <%= f.button :submit, "Entrar", class: "btn waves-effect waves-light btn-signup" %>
                    </div>
                  <% end %>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>