<section id="main-container">
  <div class="container">
    <div class="row">
      <div class="col s12 l12 push-s1">
        <div class="row">
          <div class="col s5 l5 hide-on-small-only pull-s7">
            <%= image_tag "logo.png", class: "logo" %>
          </div>
          <div class="col s7 l7 push-s5">
            <div class="row">
              <div class="signup-box">
                <h1 class="platzigram">Log in</h1>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "signup-form" }) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email, required: false, autofocus: true %>
                    <%= f.input :password, required: false %>
                  </div>
                  <div class="form-actions">
                    <%= f.button :submit, "Iniciar sessión", class: "btn waves-effect waves-light btn-signup" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>